.NavBar {
  width: 100%;
  padding:10px;
  background-color: Black;
}

.NavBar-link {
  font-size: 4vmin;
  font-weight: 200;
}

.NavBar-title, .NavBar-links {
  font-size: 4vmin;
  font-weight: 500;
  color: rgb(243, 236, 236);
}

.NavBar-links {
 margin-right: 15px;
}

.NavBar-loginLogout {
  display: flex;
  justify-content: space-between;
  font-size: 4vmin;
}

.NavBar-welcome {
  font-size: 3vmin;
  text-decoration: none;
  font-weight: 500;
  padding-left: 10px;
}

.NavBar-logout {
  font-size: 3vmin;
  font-weight: 300;
  padding-right: 15px;
  
}

.NavBar-logout:hover, .NavBar-signup:hover, .NavBar-login:hover {
  color: rgb(88, 34, 150);
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
}

.NavBar-link, .NavBar-welcome, .NavBar-logout {
  color: rgb(243, 241, 241);
}

span {
  font-size: 4vmin;
}

i {
  padding: 0 10px;
}
