.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
  
  .btn-default {
  font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3vh;
    padding-bottom: 1vh;
  }
  
  .text-center {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signup {
    text-decoration: none;
  }
  
  .signup:hover, .btn-default:hover {
    text-decoration: underline;
    color: black;
  }
  .header-footer{
      color:black;
  }