@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
	background-color: #ffffff;
	color: rgb(65, 46, 150);
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}