@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

body {
  margin: 0;
  font-family:"noto sans", sans-serif;
  background-color: white;
}

code {
  font-family: 'Montserrat', sans-serif;
}